html {
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/*********************************** header ************************************/
header {
  background-color: black;
  width: 100%;
  height: 15vh;
  box-sizing: border-box;
  overflow: hidden;
 /* border-bottom: 2px solid rgba(185, 178, 165, 0.836); */
 border-bottom: 2px solid white;
 position: sticky;
 top: 0;
 z-index: 500;
}
header img {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  margin: 10px 60px;
}
nav > ul > li {
  display: inline-block;
}
nav {
  margin: 20px 10px;
  margin-right: 200px;
  float: right;
}
nav ul li a {
  text-decoration: none;
  color: rgb(178, 50, 7);
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 20px;
}
nav a:hover {
  color: rgb(252, 243, 226);
  border-bottom: 2px solid rgb(178, 50, 7);
  border-radius: 15px;
}

/********************************Banner ***************************************/
.banner {
  width: 100%;
  height: 86vh;
  background-image: url(img/pexels-photo-2013749.webp);
  background-size: cover;
  background-position: center;
  
}
/**************************Banner.home ****************************/
.banner .home {
  width: 40%;
  color: white;
  font-family: sans-serif;
  padding: 100px 80px;
  margin-right: 0px;
  
}
.banner .home h1{
margin-top: 0;
padding-bottom: 10px;
}
.banner .home p{
    padding-bottom: 15px;
    }
.banner .home button{
        padding: 15px 35px;
        color: white;
        background-color: rgb(178, 50, 7);
        border-radius: 4px;
        border: none;
        margin-left: 40px;
        }
.banner .home button:hover{
    color: rgb(178, 50, 7);
    background-color:white; 
}
/********************************* GALLERY **************************************/
.GALLERY{
    background-color: black;
    border-top:2px solid white;
    width: 100%;
    
}
#descrip{
    text-align: center;
    padding: 60px 0;
    font-family: sans-serif;
    color: white;
}
#descrip h2{
    color: rgb(178, 50, 7);
    font-size: 30px;
}
#descrip h2::after{
    content: "";
border-bottom: 2px solid white;
width: 12%;
display: block;
margin: 5px 620px;
}
#gallery{
    width: 80%;
    height: 80vh;
    display: flex;
    gap: 5px;
    padding: 10px;
    margin-left: 140px;
}
#gallery img{
    height: 80%;
    border-radius: 10px;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.8s;
}
#gallery img:hover{
    flex: 4;
}
/****************************** ABOUT ************************************/
.ABOUT{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    border-top: 2px solid white;
    
}
#about1{
    text-align: center;
 padding: 60px 0;
    font-family: sans-serif;
}
#about1 h2{
    color:  rgb(178, 50, 7);
    font-size: 30px;
}
#about1 h2::after{
    content: "";
border-bottom: 2px solid white;
width: 10%;
display: block;
margin: 5px 630px;
}
#about2{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#Descript{
    width: 40%;
    padding-left: 100px;
    margin-top: 25px;
    font-family: sans-serif;
}
#Descript h3{
    padding-bottom: 10px;
}
#Descript button{
    padding: 15px 40px;
    background-color: rgb(178, 50, 7);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
#Descript button:hover{
    background-color: white;
    color: rgb(178, 50, 7);
}
#Image{
    width: 40%;
}
#Image img{
    width: 70vh;
    height: 50vh;
    border-radius: 20%;
}
/****************************** TEAM ************************************/
.TEAM{
    width: 100%;
    height: 120vh;
    background-color: black;
    color: white;
    border-top: 2px solid white;
    font-family: sans-serif;
   
}
#intro{
    text-align: center;
    padding-top: 60px;
}
#intro h2{
    color: rgb(178, 50, 7);
    font-size: 30px;
}
#intro h2::after{
    content: "";
border-bottom: 2px solid white;
width: 8%;
display: block;
margin: 5px 650px;
}
#teams{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    margin-left: 140px;
    margin-top: 60px;
}
#team{
    width: 30%;
    height: 70vh;
    border: 1px solid white;
    border-radius: 5px;
}
#team img{
    width: 100%;
    height: 40vh;
    border-radius: 5px;
}
#team h4,p{
    padding-left: 10px;

}

#team button{
    padding: 10px 40px;
    margin-left: 20px;
    background-color:rgb(178, 50, 7) ;
    border: none;
    border-radius: 5px;
    color: white;
}
#team button:hover{
    background-color: white;
    color: rgb(178, 50, 7);
}
/****************************** PORTFOLIO ************************************/
.PORTFOLIO{
    width: 100%;
    height: 220vh;
    background-color: black;
    border-top: 2px solid white;
    
}

#Intro{
    text-align: center;
    color: white;
    padding: 60px 5px;
}
#Intro h2{
    color: rgb(178, 50, 7);
    font-size: 30px;
}
#Intro h2::after{
    content: "";
border-bottom: 2px solid white;
width: 15%;
display: block;
margin: 5px 590px;
}

#part1{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#part1 img{
   width: 350px;
   height: 300px;
   transition: all 0.4s;
   border: 2px solid rgb(178, 50, 7);
   border-radius: 20%;
    margin-bottom: 40px;
}
#part1 img:hover{
   transform: translateY(10%);
}
#part2{
    width: 100%;
    height: 60vh;
    color: white;
    font-family: sans-serif;
    /* display: flex; */
}
#part2 p{
    margin-top: 620px;
    margin-left: 800px;
}
#part2 button{
margin-left: 30px;
padding: 15px 30px;
background-color: rgb(178, 50, 7);
color: white;
border-radius: 5px;
}
#part2 button:hover{
background-color: white;
color: rgb(178, 50, 7);
}
/* ..............................Review......................... */
.Review{
width: 100%;
height: 100vh;
background-color: black;
border-top: 2px solid white;
}
#firstpart{

    text-align: center;
    color: white;
    padding: 60px 5px;
}
#firstpart h2{
    color: rgb(178, 50, 7);
    font-size: 30px;
}
#firstpart h2::after{
    content: "";
border-bottom: 2px solid white;
width: 15%;
display: block;
margin: 5px 590px;
}
#secondpart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#secondpart img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#secondpart .card{
    width: 20%;
    height: 60%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: rgb(178, 50, 7);
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.5s ease-in;
}
#secondpart .card:hover{
    background-color:rgb(178, 50, 7) ;
    color:white ;
    transform: scale(1.3);
}
/* .............................blog................................. */
.Blogs{
    width: 100%;
height: 110vh;
background-color: black;
border-top: 2px solid white;
}
#firstparti{
  text-align: center;
    color: white;
    padding: 60px 5px;
}
#firstparti h2{
    color: rgb(178, 50, 7);
    font-size: 30px;
}
#firstparti h2::after{
    content: "";
border-bottom: 2px solid white;
width: 15%;
display: block;
margin: 5px 590px;
}
#secondparti{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#secondparti img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    
}

#secondparti .card{
  width: 60%;  
color: black;
background-color: rgb(178, 50, 7);
margin: 10px;
padding: 10px;
border-radius: 10px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
transform: translateY(0);

transition: all 0.5s ease-in;
}
#secondparti .card:hover{
    background-color: white;
    color: black;
    transform: translateY(-10%);
   
}
footer{
    width: 100%;
    height: 40vh;
    border-top: 2px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
footer .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    
}
footer .contact a{
    color: rgb(178, 50, 7);
    text-decoration: none;
    font-size: 30px;
}
footer .contact a:hover{
    color: white;
    
}
footer .contact span{
    font-size: 40px;
    color: white;
}